$blue_main: #29abe2;
$footer-subHeader-color: #333333;


$trans: all 0.3s ease-out;




@mixin center(){
    left:50%;
    transform: translateX(-50%);
}






body{
    font-family: 'Catamaran', sans-serif;
    color: black;
    font-size: 10px;
}
h2{
    font-size: 2.4rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 50px;
    &::after{
        content: "";
        height: 4px;
        width: 40%;
        position: absolute;
        background-color: $blue_main;
        left: 0;
        bottom: 0;
        min-width: 60px;
    }
}

.flexWrap{
    display: flex;
    
}
.menuBtn{
    display: none;
}



// ---- SMALL NAV -----

.smallNav{      
    a{
        color: white;
        font-size: 1.2rem;
        font-weight: medium;
        &:hover{
            text-decoration: underline;
            background-color: transparent;
        }
    }
    li{
        display: inline-block;
        margin-right: 25px;
    }
}





// ----- SUB HEADER -----

.subHeader{
    background-color: $footer-subHeader-color;
    
    .container{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .smallNav{
        flex: 1 1 70%;
        padding-left: 10px;
    }
    .socialNav{

        position: absolute;
        right: 0;
        li{
            display: inline-block;
        }
        a{
            color: white;
            display: block;
            font-size: 1.5rem;
            margin-right: 7px;
            transition: $trans;
            &:hover{
                color: $blue_main;
            }
        }
    }
}


// ----- HEADER -----
 h1.logo{
        font-size: 5.5rem;
        font-weight: 900;
        display: inline-block;
        margin: 30px auto;
        position: relative;
        @include center;

        span{
            font-size: 2.4rem;
            font-weight: 200;
        }
        &::before{
            content: "";
            background-color: $blue_main;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            position: absolute;
            top: 39px;
            left: -17px;
        }
    }
.mainHeader{
    border-bottom: 2px solid #b3b3b3;
    
   
    .container{
        display: flex;
    }
}


.mainNav{
    padding-bottom: 10px;
    flex: 1 1 90%;
    ul{
        list-style: none;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        padding-left: 0;
    }
    li{
        display: inline-block;
        margin-right: 15px;       
        i{
            font-size: 1.0rem;
            margin-left: 5px;
        }
        .subMenu-container{
            position: absolute;
            background-color: $footer-subHeader-color;
            width: 100%;
            left: -300px;
            z-index: 300;
            height: 500px;
            top: 217px;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            transition: $trans;
            a{
                color: white;
            }
            .row{
            .col-md-4{
                height: 320px;
                margin-top: 80px;
                p{
                    font-size: 1.8rem;
                    color: white;
                    font-weight: bold;
                }
                
            }
            .art01, .art02, .art03{
                    .subMenu--thumb{
                        background-image: url(../_img/subMenu-img.jpg);
                        background-size: cover;
                        height: 245px;
                        width: auto;
                    }
                
                &:hover{
                    p{
                        color: $blue_main;
                    }
                }
                }
        }
        }
        &:hover{
            .subMenu-container{
                visibility: visible;
                opacity: 1;
                left: 0;
            }
        }
    }
    a{
        font-size: 1.4rem;
        color: black;
        font-weight: 500;
        text-transform: uppercase;
        padding: 7px 10px;
        border-bottom: 5px solid transparent;
        transition: $trans;
        &:hover{
            text-decoration: none;
            color: $blue_main;
            border-bottom: 3px solid $blue_main;
        }
    }
    .subMenu{
        padding: 0;
        margin: 0 auto;
        max-width: 1170px;
        display: block;
        li{
            margin-right: 50px;
            margin-top: 45px;
            padding-left: 5px;
            padding-right: 5px;
            
            &:hover{
                a{
                    border-color: transparent;
                    color: $blue_main;
                }
            }
        }
           
    }
}

.search{
    display: inline-block;
    
    
    .searchHover{
        cursor: pointer;
        transition: $trans;
        font-size: 1.8rem;
        margin-top: 7px;
        &:hover{
            color: $blue_main;
        }
    }
}





//SLIDER


.containerSlider{
    height: 490px;
    background-image: url(../_img/slider.jpg);
    background-size: cover;
    position: relative;
    
    .container-fluid{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 0;
        &::before{
            content: "";
            position: absolute;
            height: 157px;
            width: 25%;
            background-color: white;
        }
    }
}
.sliderCaption{
    background-color: white;
    padding-left: 15px;
    
    h4{
        font-size: 1.4rem;
        font-weight: 100;
        margin-bottom: 10px;
    }
    p{
       font-size: 2.4rem;
        font-weight: bold;
        margin-top: 10px;
        line-height: 1.2;
    }
}


// CONTENT

.content, .articleWrap{
    padding: 90px 10px;
    
    .thumb{
        height: 240px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    article{
        min-height: 390px;
        margin-bottom: 40px;
        position: relative;
        transition: $trans;
        transform: scale(1);
        z-index: 80;
        &:hover{
            background-color: $blue_main;
            transform: scale(1.1);
            z-index: 100;
            a{
                color: white;
            }
        }
        a{
            color: black;
            transition: $trans;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .art-01 .thumb{
    background-image: url(../_img/art1.jpg);
    }
    .art-02 .thumb{
    background-image: url(../_img/art2.jpg);
    }
    .art-03 .thumb{
    background-image: url(../_img/art3.jpg);
    }
    .art-04 .thumb{
    background-image: url(../_img/art4.jpg);
    }
    .art-05 .thumb{
    background-image: url(../_img/art5.jpg);
    }
    .art-06 .thumb{
    background-image: url(../_img/art6.jpg);
    }
    .articleTitle{
        font-size: 1.8rem;
        line-height: 1.2;
        
    }
    .articleMeta{
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        max-width: 363px;
    }
    
}



// PICTURES

.pictures{
    background-color: #f2f2f2;
    padding-bottom: 100px;
    
    .row{
        div .thumb{
            height: 240px;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            &::before, &::after{
                content: "";
                display: block;
                position: absolute;
                transition: $trans;
                background-size: cover;
            }
            &::before{
                background-image: url(../_img/pic-bg.png);
                height: 100%;
                width: 100%;
                top: 0;
                opacity: 0;
            }
            &::after{
                background-image: url(../_img/pic-ico.png);
                height: 34px;
                width: 45px;
                top: 150%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            &:hover{
                animation-duration: 0.7s;
                animation-name: pictureSlide;
                animation-iteration-count: 1;
                transform: scale(1.05);
                &::before{
                    opacity: 1;
                }
                &::after{
                    top: 50%;
                }
            }
        }
        @keyframes pictureSlide {
            0% {
                transform: scale(1);
            }
            20%{
                transform: scale(0.9);
            }
            100%{
                transform: scale(1.05);
            }
        }
        
        .pic1 .thumb{
           background-image: url(../_img/pic1.jpg);
        }
        .pic2 .thumb{
           background-image: url(../_img/pic2.jpg);
        }
        .pic3 .thumb{
           background-image: url(../_img/pic3.jpg);
        }
        
    }
    
    h2{
        display: block;
        text-align: center;
        &::after{
            display: none;
        }
    }
    
    
    
    
}
.articleWrap{
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    
    .articleParagra{
        font-size: 1.8rem;
        line-height: 1.2;
    }
    .articleMeta{
        max-width: 355px;
    }
    .health{
        article{
            min-height: auto;
        }
        .articleMeta{
            position: relative;
        }
    }
    .economy{
        .art-01 .thumb{
            background-image: url(../_img/eco1.jpg);
        }
        .art-02 .thumb{
            background-image: url(../_img/eco2.jpg);
        }
        .art-03 .thumb{
            background-image: url(../_img/eco3.jpg);
        }
        .art-04 .thumb{
            background-image: url(../_img/eco4.jpg);
        }
    }
    
    
    }

// FOOTER

.footerWrap{
    background-color: $footer-subHeader-color;
    ul{
        padding: 15px 0;
    }
    .copyR{
        padding: 15px 0;
        color: white;
        font-size: 1.2rem;
        span{
            color: $blue_main;
        }
    }
}



@media (min-width: 992px){
    
    .content .articleMeta, .articleWrap .articleMeta{
        max-width: 293px;
    }
    
    
    
    
    
    
    
    
}

@media (min-width: 768px){
    
    .mainNav{
        li{
            margin-right: 5px;
        }
        a{
            font-size: 1.2rem;
        }
    }
    .content .articleMeta, .articleWrap .articleMeta{
        max-width: 350px;
    }
    .health .articleMeta{
        max-width: 100%;
    }
    .mainNav li .subMenu-container{
        top: 214px;
    }
}

@media (max-width: 767px){
    
    .content .articleMeta, .articleWrap .articleMeta{
      max-width: 95%;   
    }
    .subHeader .smallNav{
        display: none;
    }
    .subHeader .socialNav{
        position: relative;
        left: 0;
        margin: 10px auto;
        padding: 0;
    }
    .search{
        display: none;
    }
    .mainNav li i{
        display: none;
    }
    .subMenu-container{
        display: none;
    }
    .mainNav{
        transition: $trans;
        ul{
            flex-wrap: wrap;
        }
        li{
            display: block;
            flex: 1 1 100%;
            text-align: center;
            margin: 7px 0;
            a{
                font-size: 1.8rem;
            }
        }
    }
    .closeMenuMobile{
        overflow: hidden;
        height: 2px;
    }
    .mainHeader{
        .container{
            flex-wrap: wrap;
        }
    }
    .menuBtn{
        display: inline-block;
        flex: 1 1 70%;
        font-size: 1.8rem;
        background-color: white;
        border: 1px solid $blue_main;
        padding: 3px 0;
        color: $blue_main;
        font-weight: bold;
        border-radius: 5px;
    }
    
    
    
    
    
    
    
    
}



